name: CI & Deploy Jitsi

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  ci:
    name: Simple CI
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Decode .env
      run: |
        echo "${{ secrets.ENV_FILE_BASE64 }}" | base64 --decode > .env

    - name: Check .env file exists
      run: |
        if [ -f .env ]; then
          echo ".env file exists ✅"
        else
          echo ".env file is missing ❌"
          exit 1
        fi

    - name: Check stack.yml exists
      run: |
        if [ -f stack.yml ]; then
          echo "stack.yml exists ✅"
        else
          echo "stack.yml is missing ❌"
          exit 1
        fi

  deploy:
    name: Deploy to VPS
    needs: ci
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'  # Деплой только из main

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Decode .env
      run: |
        echo "${{ secrets.ENV_FILE_BASE64 }}" | base64 --decode > .env

    - name: Add SSH key
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add VPS to known_hosts
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan -H -p 6767 ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts
        chmod 644 ~/.ssh/known_hosts

    - name: Prepare folders on VPS
      run: |
        ssh -p 6767 -o StrictHostKeyChecking=yes ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "
          mkdir -p /app
          mkdir -p ~/.jitsi-meet-cfg/{web,transcripts,prosody/config,prosody/prosody-plugins-custom,jicofo,jvb,jigasi,jibri}
        "

    - name: Copy files to VPS
      run: |
        scp -P 6767 .env ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:/app/.env
        scp -P 6767 stack.yml ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:/app/stack.yml

    - name: Deploy on VPS
      run: |
        ssh -p 6767 ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "
          cd /app
          set -a
          source .env
          set +a
          docker stack deploy -c stack.yml jitsi
        "

